.alert__border{
  padding: .4rem 1rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  box-shadow: 0 0 .1rem rgba(117, 131, 142, 0.04), 0 .2rem .4rem rgba(52, 60, 68, 0.16);
}