// COLOR VARIABLES
$c-c4: #C4C4C4;
$c-eee: #ccc;
$c-efefef: #efefef;
$c-aaa: #aaa;
$c-white: #fff;
$c-f9f9f9: #f9f9f9;
$c-black: #333;
$c-777: #777;
$c-999: #999;
$c-red: #FF6B00;
$c-green: #36B37E;
$c-yellow: #FFAB00;
$c-blue: #733bf5;

// FONT VARIABLES
$font-display: "Montserrat", sans-serif; // globle font

// Font Sizes
$font-2: .2rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-24: 2.4rem;
$font-30: 3rem;

// Font Weight
$weight-700: 700;
$weight-400: 400;

// RESPONSIVE BREACK POINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-smallLarge: 37.5em; // 600px
$bp-small: 30em; // 500px
