.btn {
  &,
  &:link,
  &:visited {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    background-color: $c-blue;
    color: $c-white;
    text-decoration: none;
    font-size: inherit;
    padding: 1.6rem 2rem;
    border: 1px solid transparent;
    transition: all 0.2s;
    cursor: pointer;
    @include border_radius;
}
}
